#body {
  background-color: aliceblue;
}

#main {  

  text-align: center;
}


#renderMovies{
  
  padding: 20px;  
  width:400px;
  height: 400px;
  
  float: right;
  margin-right: 50px;

}

#movielist {
  padding: 20;
  float: center;
}

#tickets{
  padding: 20px;
  float: left;
}